<div style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
">
    <div style="
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    ">
        <label style="font-size: 20px; font-weight: 500; margin-right: 10px;">Task:</label>
        <span class="p-float-label">
            <input id="float-input" type="text" pInputText [(ngModel)]="searchModel" class="p-inputtext-lg custom-input-style" (ngModelChange)="onChangeKeyword($event)">
        </span>
    </div>
    <div class="button-container">
        <button [disabled]="searchModel=== ''" pButton class="p-button-raised p-button-rounded custom-button-style" label="Search" (click)="onSearchModel()"></button>
        <button [disabled]="searchModel=== ''" pButton class="p-button-raised p-button-rounded custom-button-style" label="Create" (click)="onCreateNewModel()"></button>

    </div>
</div>