<div style="
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
">
    <app-search-input 
        [allStatus]="allStatus" 
        [allUsers]="allUsers" 
        (customEvent)="receiveDataFromSearchComp($event)"
    >
    </app-search-input>
    <app-table-component 
        [searchModel]="searchModel" 
        [allStatus]="allStatus" 
        [allUsers]="allUsers" 
    >
    </app-table-component>

</div>
